[Unit]                                                                                                                                                                                                            
                                                                                                                                                                               
Description=kaspa miner service                                                                                                                                       
                                                                                                                                      
                                                                                                                                                                                           
[Service]                                                                                                                                                                                     
                                                                                                                                                                                                                  
RestartSec=3                                                                                                                                        
                                                                                                                                                                                                                  
Restart=always                                                                                                                                                                            
                                                                                                                                                                                                                  
WorkingDirectory=/home/user/                                                                                                                                                       
                                                                                                                                                                                                                  
ExecStart=/home/user/kaspa-miner-v0.1.3-GPU.0.2-rerelease-linux-amd64-v2 --kaspad-address 80.249.131.162  --mining-address kaspa:qqs5sr5art24q94kcwearss0kpt6c2j6gncusza83lvw6w783haajl3k7xak4 -t 0               
                                                                                                                                                                                                                  
                                                                                                                                                                                                                  
                                                                                                                                                                                                                  
[Install]                                                                                                                                                                                                         
                                                                                                                                                                                                                  
WantedBy=multi-user.target                                                                                                                                                                     
                                                                                                                                             
Alias=kaspa.service
